@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Inter', sans-serif;
}

@keyframes pulseSlow {
  0%, 100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.08);
  }
}

.animate-pulseSlow {
  animation: pulseSlow 3s ease-in-out infinite;
}

@keyframes softGlow {
  0%, 100% {
    opacity: 0.6;
  }
  50% {
    opacity: 1;
  }
}

.animate-softGlow {
  animation: softGlow 2.5s ease-in-out infinite;
}